.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(60, 60, 65, 0.6);
}
.modal-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #5b7796;
    padding: 14px 28px;
    border-width: 10px;
    border-radius: 3px;
    max-width: 1200px;
    min-width: 300px;
    max-height: 600px;
    overflow: hidden;
}

.modal-body {
    flex-grow: 1;
    overflow: hidden;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
